$font-sans: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif !default;
$font-serif: 'ヒラギノ明朝 Pro W6', 'Hiragino Mincho Pro', 'HGS明朝E', 'ＭＳ Ｐ明朝', serif !default;

$font-yu: YuGothic, '游ゴシック',$font-sans !default;
$font-yumin: YuMincho, '游明朝',$font-serif !default;
$font-code: Consolas, 'Courier New', Courier, monospace !default;
