$font-sans: -apple-system,BlinkMacSystemFont,Helvetica Neue,Hiragino Kaku Gothic Pro,ヒラギノ角ゴ ProN W3,Arial,メイリオ,Meiryo,Osaka,sans-serif !default;
$font-serif: 'ヒラギノ明朝 Pro W6', 'Hiragino Mincho Pro', 'HGS明朝E', 'ＭＳ Ｐ明朝', serif !default;

$font-yu: YuGothic, '游ゴシック',$font-sans !default;
$font-yumin: YuMincho, '游明朝',$font-serif !default;
$font-code: Consolas, 'Courier New', Courier, monospace !default;
