---
title: Holy grail
draft: true
date: 2020-01-01
layout: temp
---

<div class="l-holygrail" style="
    display: flex;
    flex-direction: column;
">
  <header class="layout-preview">
    header
  </header>

  <main style="
          flex-grow: 1;
          display: flex;
          flex-direction: row;
      ">
  
    <aside class="layout-preview c2" style="
              width: 25%;
          ">aside</aside>
  
    <article class="layout-preview c3" style="
              flex-grow: 1;
          ">
      article
    </article>
  
    <nav class="layout-preview c2" style="
              width: 20%;
          ">nav</nav>
  </main>
  
  <footer class="layout-preview">
    footer
  </footer>
</div>
