// Example:
// <div class="badge">
//   <span>badge</span>
// </div>

=badge($color: #111, $w: 100px, $l: -30px, $t: 10px, $position: 'left')
  position: absolute
  overflow: hidden
  width: $w
  height: $w
  > span
    +box-shadow(rgba(0,0,0,0.1) 0 1px 4px)
    position: absolute
    z-index: 10
    top: 10px
    color: #fff
    background: $color
    display: block
    text-align: center
    padding: 3px 0 1px
    line-height: 12px
    width: $w
    font-size: 10px
  @if $position == 'right'
    > span
      right: -30px
      +rotate(45deg)
  @else
    > span
      left: -30px
      +rotate(-45deg)

// Example:
// <i class="badge-tri"></i>

=badge-tri($c: #f22, $w: 30px)
  position: absolute
  overflow: hidden
  width: $w
  height: $w
  &:before
    +transform(translateX(-50%) translateY(-50%) rotate(-45deg))
    content: ''
    position: absolute
    top: 0
    left: 0
    background: $c
    display: block
    padding: 0
    width: $w
    height: $w
