=button($size: 14px, $c: #ffa500, $c-text: #fff, $p: 10px 20px, $r: 2px)
  +button-flat($size, $c, $c-text, $p, $r)

//

=button-flat($size: 14px, $c: #ffa500, $c-text: #fff, $p: 10px 20px, $r: 2px)
  +button-base
  +border-radius($r)
  +transition(background-color 0.2s ease-out)
  +font($size)
  background: $c
  color: $c-text
  padding: $p
  &:hover
    background-color: darken($c, 10%)
  &:active
    background-color: darken($c, 30%)
  &:disabled,
  &.is-disabled
    background-color: lighten($c, 30%)
  &.is-current
    background-color: darken($c, 20%)

=button-semiflat($size: 14px, $c: #ffa500, $strangth: 10%, $c-text: #fff, $p: 10px 20px, $r: 2px)
  +button-base
  +border-radius($r)
  +transition(background-color 0.2s ease-out)
  +font($size)
  background: $c
  +background-image(linear-gradient(to top, $c, lighten($c, $strangth)))
  border: 1px solid lighten($c, $strangth)
  color: $c-text
  padding: $p
  &:hover
    background: darken($c, $strangth)
    +background-image(linear-gradient(to top, darken($c, $strangth), $c))
  &:active
    background: darken($c, $strangth*2)
    +background-image(linear-gradient(to top, darken($c, $strangth*2), darken($c, 10%)))
  &:disabled,
  &.is-disabled
    background-color: lighten($c, $strangth*3)
  &.is-current
    background: darken($c, $strangth)
    +background-image(linear-gradient(to top, darken($c, $strangth), $c))

=button-border($size: 14px, $c: #ffa500, $p: 10px 20px, $border: 2px, $r: 0px)
  +button-base
  +border-radius($r)
  +transition(background-color 0.2s ease-out)
  +font($size)
  background: transparent
  padding: $p
  border: $border solid $c
  color: $c
  &:hover
    background-color: $c
    color: #fff
    border-color: transparet
  &:active
    background-color: darken($c, 10%)
  &:disabled,
  &.is-disabled
    +opacity(0.2)
  &.is-current
    background-color: $c
    color: #fff
    border-color: transparet

=button-emboss($size: 14px, $c: #ffa500, $c-text: #fff, $p: 10px 20px, $thickness: 6px, $r: 4px)
  +button-base
  +border-radius($r)
  +transition(background-color 0.2s ease-out)
  +font($size)
  +box-shadow(0 $thickness 0 darken($c, 10%))
  background: $c
  color: $c-text
  padding: $p
  &:hover
    +box-shadow(0 ($thickness - 2px) 0 darken($c, 20%))
    +translateY(2px)
    background-color: darken($c, 2%)
  &:active
    +box-shadow(0 0 0 $c)
    +translateY($thickness)
    background-color: darken($c, 10%)
  &:disabled,
  &.is-disabled
    +box-shadow(0 2px 0 lighten($c, 2%))
    +translateY($thickness - 2px)
    background-color: lighten($c, 20%)
  &.is-current
    +box-shadow(0 0 0 $c)
    +translateY($thickness)
    background-color: darken($c, 10%)

=button-icon($icon: '\f113', $w: 40px, $size: 20px, $c: #ffa500, $c-text: #fff)
  +button-base
  +border-radius($w)
  +transition(background-color 0.2s ease-out)
  +fa-icon($icon)
  overflow: hidden
  background: $c
  color: $c-text
  width: $w
  height: $w
  line-height: $w
  font-size: $size
  vertical-align: top
  &:before
    width: $w
    height: $w
    margin-right: 0
  &:hover
    background-color: darken($c, 10%)
  &:active
    background-color: darken($c, 30%)
  &:disabled,
  &.is-disabled
    background-color: lighten($c, 30%)
