=fa($content: '\f105')
  +inline-block
  font-family: FontAwesome
  font-style: normal
  font-weight: normal
  line-height: 1
  text-indent: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  @if $content
    content: $content
