=reset-base
  font-size: inherit
  line-height: inherit
  box-sizing: border-box

=reset-form($c: transparent)
  background-image: linear-gradient(transparent, transparent)
  appearance: none
  border-radius: 0
  border: none
  outline: none
  margin: 0
  padding: 0
  text-decoration: none
  &:focus
    border: none
    outline: none

=reset-ul
  margin: 0
  padding: 0
  list-style: none
  display: inline-block
  li
    display: inline-block

=reset-img
  margin: 0
  padding: 0
  line-height: 0
  vertical-align: baseline
  border: none

=reset-heading
  display: inline-block
  border: none
  margin: 0
  padding: 0

=reset-button
  margin: 0
  padding: 0
  line-height: 1
  vertical-align: baseline
  border: none
  background-color: transparent
  cursor: pointer
  &:focus,
  &:active
    border: none
    outline: none
