// Example:
// +tri(#222, 12px, $w/2, 0, 'left')

=tri($c: #2dd, $w:20px, $t: 0, $l: 0, $direction: "right")
  position: relative
  &:after
    content: ""
    position: absolute
    width: 0
    height: 0
    border: $w solid transparent
    border-top-color: $c
  @if $direction == "left"
    &:after
      +transform(translateX(-$w*2) translateY(-$w) rotate(90deg))
      left: $l
      right: auto
      top: $t
  @if $direction == "right"
    &:after
      +transform(translateX($w*2) translateY(-$w) rotate(-90deg))
      left: auto
      right: $l
      top: $t
  @if $direction == "top"
    &:after
      +transform(translateX(-$w) translateY(-$w*2) rotate(180deg))
      right: auto
      left: $l
      top: $t
  @if $direction == "bottom"
    &:after
      +transform(translateX(-$w) translateY($w*2) rotate(0))
      right: auto
      left: $l
      bottom: $t

