//fonts

$font-serif: 'ヒラギノ明朝 Pro W6','Hiragino Mincho Pro','HGS明朝E','ＭＳ Ｐ明朝',serif
$font-sans: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif
$font-yumin: YuMincho,'游明朝','ヒラギノ明朝 Pro W6','Hiragino Mincho Pro','HGS明朝E','ＭＳ Ｐ明朝',serif
$font-yugo: YuGothic,'游ゴシック','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif
$font-code: Consolas, "Liberation Mono", Courier, monospace

//colors

$color-black: #555555
$color-gray: #767676
$color-key: #54ACD2
$color-select: #fefef3

//utils

$gradiation: linear-gradient(to top, #f1f1f1, #f8f8f8)
$border: 1px solid #eee
$transition: all 0.1s ease-out

//media query

$media-breakpoints: (xs: 0, sm: 34em, md: 48em, lg: 62em)
$media-retina: '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)'
