=checkbox-base($tag: label)
  margin: 0

  #{$tag}
    border-radius: 20px
    margin: 0
    padding: 10px 10px 10px 0
    line-height: 2em
    cursor: pointer

    &:before
      +fa('\f00c')
      +border-box
      margin-right: 0.6em
      border: 1px solid #ddd
      vertical-align: top
      text-align: center
      background: #fff
      color: #fff
      width: 28px
      height: 28px
      border-radius: 4px
      padding: 5px

    &:hover
      &:before
        background: rgba($color-key, 0.2)

  input[type=checkbox]
    display: none

    &:checked + #{$tag}
      &:before
        color: #fff
        background: $color-key
        border-color: $color-key

      &:hover
        &:before
          background: $color-key
