=dl-base
  margin: 0
  padding: 0
  > dt,
  > dd
    baseline: top
    margin: 0
    padding: 10px 0
    line-height: 1.6em
  > dt
    font-weight: bold

=dl-base-flex
  +dl-base
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  align-items: flex-start
  align-content: flex-start
  > dt,
  > dd
    +border-box
  > dt
    width: 30%
    padding-right: 10px
  > dd
    width: 70%

=dl-border
  +dl-base-flex
  border-bottom: $border
  > dt
    border-top: $border
    padding-right: 0
  > dd
    border-top: $border
    border-left: $border
    padding-left: 20px

=dl-list
  +dl-base-flex
