=radio-base($tag: label)
  $w: 30px
  margin: 0

  #{$tag}
    border-radius: 20px
    margin: 0
    padding: 10px 10px 10px 0
    line-height: 2em
    cursor: pointer

    &:before
      +fa('\f111')
      +border-box
      margin-right: 0.5em
      border: 1px solid #ddd
      vertical-align: top
      background: #fff
      padding: 8px
      width: $w
      height: $w
      border-radius: $w
      color: #fff
      font-size: 13px

    &:hover
      &:before
        background-color: rgba($color-key, 0.2)
        color: #fff

  input[type=radio]
    display: none

    &:checked + #{$tag}
      &:before
        background-color: $color-key
        border-color: $color-key
