=radio-fa
  label
    +inline-block
    position: relative
    cursor: pointer
    padding-left: 30px
    &:before
      $r: 15px
      +fa('\f10c')
      +inline-block
      position: absolute
      top: 0
      left: 0
      width: $r
      height: $r
      border-radius: 100%
      font-size: 20px
      color: #eee
  input[type="radio"]
    display: none
    &:checked + label
      &:before
        // +fa('\f05d')
        // +fa('\f058')
        +fa('\f192')
        color: #000
