=select-base($w: 100%, $bg: #fff, $bg-image: $gradiation)
  $border: 1px solid #ddd
  $r: 2px

  +border-box
  border-radius: $r
  position: relative
  overflow: hidden
  border: $border
  width: $w

  select
    +reset-form
    +inline-block
    box-sizing: content-box
    width: 100%
    padding: 10px 10px
    cursor: pointer
    background: $bg
    background-image: $bg-image
    font-size: 16px
    color: $color-black
    &:focus
      outline: none
      border: none

  &:before
    +fa('\f0dc')
    +absolute((10px/2), 12px, 'right')
    color: $color-black

  select
    width: 110% // IE9
    &::-ms-expand
      display: none // IE10

=select-firefox-hack
  @at-root
    @-moz-document url-prefix()
      #{&}
        select
          text-indent: 0.01px
          text-overflow: ''
          &:-moz-focusring
            color: transparent
            text-shadow: none
