=ul-base
  $margin: 10px
  margin: 0
  padding: 0
  list-style: none
  > li
    padding-top: $margin
    padding-bottom: $margin
    line-height: 1.6em
    > a
      display: block
      text-decoration: none
      line-height: 1.6em

=ul-icon($icon: "\f105")
  +ul-base
  > li
    +icon-fa($icon)
    display: block

=ul-border($border: 1px solid #eee, $top: false, $bottom: false)
  $border: 1px solid #eee
  +ul-base
  display: block
  @if $bottom == true
    border-bottom: $border
  > li
    float: none
    display: block
    border-top: $border

    @if $top == false
      &:first-child
        border-top: none

=ul-floats($_margin: 20px, $_bottom: true)
  +clearfix
  margin-left: -$_margin
  > li
    float: left
    margin-left: $_margin
    @if $_bottom
      margin-bottom: $_margin
    > a
      display: block
