=button-base($c: transparent)
  box-sizing: border-box
  box-shadow: none
  appearance: none
  display: inline-block
  border-radius: 0
  background-color: $c
  background-image: linear-gradient(to top, $c, $c)
  position: relative
  cursor: pointer
  text-align: center
  font-weight: normal
  margin: 0
  padding: 0
  border: none
  outline: none
  text-decoration: none
  &:focus
    outline: none
  &:disabled,
  &.is-disabled
    +button-disabled
    opacity: 0.2
  &.is-loading
    +button-loading

=button-disabled
  cursor: default
  pointer-events: none

=button-loading
  +icon-loading
  opacity: 0.6
  pointer-events: none
  cursor: default

// .button-flat
//   +button-flat(1em, 10px 20px, #529ef6, #fff, 2px)
=button-flat($size: 1em, $p: 10px 20px, $c: #529ef6, $c-text: #fff, $r: 2px)
  +button-base
  font-size: $size
  transition: $transition
  border-radius: $r
  background: $c
  color: $c-text
  padding: $p
  &:hover,
  &:active,
  &.is-current
    background-color: darken($c, 10%)
    color: $c-text

// .button-semiflat
//   +button-semiflat(1em, 10px 20px, #529ef6, 10%, #fff, 2px)
=button-semiflat($size: 1em, $p: 9px 20px, $c: #529ef6, $strangth: 10%, $c-text: #fff, $r: 4px)
  +button-base
  font-size: $size
  transition: $transition
  border-radius: $r
  background: $c
  background-image: linear-gradient(to top, $c, lighten($c, $strangth))
  border: 1px solid lighten($c, $strangth)
  color: $c-text
  padding: $p
  &:hover,
  &:active,
  &.is-current
    background: darken($c, $strangth)
    background-image: linear-gradient(to top, darken($c, $strangth), $c)

// .button-border
//   +button-border(1em, 10px 20px, #529ef6, #fff)
=button-border($size: 1em, $p: 9px 20px, $c: #529ef6, $c-text: #fff, $border: 1px, $r: 0px)
  +button-base
  transition: $transition
  border-radius: $r
  background: transparent
  padding: $p
  border: $border solid $c
  color: $c
  &:hover,
  &:active,
  &.is-current
    background-color: $c
    color: $c-text
    border-color: transparet

// .button-emboss
//   +button-emboss(1em, 10px 20px, #529ef6, #fff, 6px, 4px)
=button-emboss($size: 1em, $p: 10px 20px, $c: #529ef6, $c-text: #fff, $thickness: 6px, $r: 4px)
  +button-base
  font-size: $size
  transition: $transition
  transform: translateY(-$thickness)
  box-shadow: 0 $thickness 0 darken($c, 10%)
  border-radius: $r
  background: $c
  color: $c-text
  padding: $p
  &:hover,
  &:active,
  &.is-current
    transform: translateY(0)
    box-shadow: 0 ($thickness - 2px) 0 darken($c, 20%)
    background-color: darken($c, 2%)
    box-shadow: 0 0 0 $c
    background-color: darken($c, 10%)
