// Example:
// .icon
//   $icon-images: (icon-ai: 0px, icon-fl: 10px, icon-fw: 0px, icon-id: 0px, icon-ps: 0px)
//   +icon-images-maps(50px, $icon-images, '/images/')

=icon-images-maps($r, $images, $path: '/images/')
  @each $filename, $y-position in $images
    &.#{$filename}:after
      +inline-block
      background-image: url('#{$path}#{$filename}.png')
      background-position: center $y-position
      background-repeat: no-repeat
      width: $r
      height: $r
      background-size: 100%
      content: ''
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
    @each $filename, $y-position in $images
      &.#{$filename}:after
        background-image: url('#{$path}#{$filename}@2x.png')


=icon-fa($content: '\f105', $margin: 0.4em, $position: 'before')
  @if $position == 'after'
    &:after
      +fa($content)
      margin-left: $margin
  @else
    &:before
      +fa($content)
      margin-right: $margin

=icon-loading
  +icon-fa('\f1ce')
  &:before
    animation: anim-spiner 1.6s infinite linear

=icon-triangle-element($size: 4px, $direction: bottom, $color: #646f82)
  content: ""
  width: 0
  height: 0
  display: inline-block
  @if $direction == bottom
    border: $size solid transparent
    border-top: $size solid $color
  @if $direction == top
    border: $size solid transparent
    border-bottom: $size solid $color
  @if $direction == right
    border: $size solid transparent
    border-left: $size solid $color
  @if $direction == left
    border: $size solid transparent
    border-right: $size solid $color

// Example:
// .icon-triangle
//   +icon-triangle
// .icon-triangle-pulldown
//   +icon-triangle(after, bottom)
=icon-triangle($position: before, $direction: right, $size: 4px, $margin: 0.3em)
  &:#{$position}
    +icon-triangle-element($size, $direction)
    @if $position == before
      margin-right: $margin
      @if $direction == top
        transform: translateX(-$size/2) translateY(-$size/2)
      @if $direction == bottom
        transform: translateX(-$size/2) translateY($size/2)
      @if $direction == right
        transform: translateX(-$size/2) translateX($size)
    @if $position == after
      margin-left: $margin
      @if $direction == top
        transform: translateX($size/2) translateY(-$size/2)
      @if $direction == bottom
        transform: translateX($size/2) translateY($size/2)
      @if $direction == right
        transform: translateX($size/2) translateX($size)

