@include include-opensans;

@mixin font($size: 1rem, $line-height: normal, $weight: 400) {
  font-family: 'Open Sans', $font-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}

@mixin button {
  @include font;
  @include button-normal;
}

@mixin input {
  @include font;
  @include input-normal(100%);
}

@mixin table {
  @include font(1rem);
  @include table-normal;
}
