@include include-opensans;

@mixin font($size: null, $line-height: null, $weight: null) {
  font-family: 'Open Sans', $font-sans;
  font-size: map-get($font-sizes, $size);
  line-height: map-get($line-heights, $line-height);
  font-weight: $weight;
}

@mixin button {
  @include button-normal;
}

@mixin input {
  @include input-normal(100%);
}

@mixin table {
  @include table-normal;
}
