// colors
$color-black: #444;
$color-blue: #529ef6;
$color-pink: #E87571;

// grids
$media-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
$box-shadow: 0 5px 10px rgba(#000, 0.1);
