// Example:

// Simple Grid System - ie9-
@function split-width($column: 5, $gutter: 2)
  $parcent: (1/$column) * 100
  $margin: ($gutter * ($column - 1)) / $column
  @return ($parcent - $margin)

=split($column: 5, $gutter: 2, $break-point: 640px)
  +clearfix
  position: relative
  > li
    display: block
    float: left
    background: #ddd
    box-sizing: border-box
    width: split-width($column, $gutter) * 1%
    min-height: 1px
    margin-left: $gutter * 1%
    @for $i from 0 through 50
      @if $i%$column == 1
        &:nth-child(#{$i})
          margin-left: 0
          // background: #2dd
      @if $i >= $column
        &:nth-child(#{$i})
          margin-bottom: $gutter * 1%
  // @media screen and (max-width: $break-point)
  //   > li
  //     width: auto
  //     float: none
  //     margin: 0

