// Example:

// Simple Grid System - ie9-
@function split-width($column: 5, $gutter: 2)
  $parcent: (1/$column) * 100
  $margin: ($gutter * ($column - 1)) / $column
  @return ($parcent - $margin)

=split($column: 5, $gutter: 2, $debug: true)
  @at-root
    #{&}
      +clearfix
      position: relative
    #{&}__item
      @if $debug
        +debug-block
      +inline-block
      float: left
      box-sizing: border-box
      width: split-width($column, $gutter) * 1%
      margin-left: $gutter * 1%
      @for $i from 0 through 50
        @if $i%$column == 1
          &:nth-child(#{$i})
            clear: both
            margin-left: 0
        @else
          &:nth-child(#{$i})
            clear: none
            margin-left: $gutter * 1%
        margin-bottom: $gutter * 1%

