@import "../../spuit";
@import "../../scss/includes/grid";
@import "../../scss/components/wrap";
@import "../../scss/components/wordwrap-fadeout";
@import "../../scss/components/triangle";

@import "styles/config/variables";
@import "styles/config/mixins";

@include include-animations;
@include include-normalize;
@include include-grid;
@include include-spacers;

// basic styles

html {
  font-size: 100%;
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;

  @include breakpoint-down(md) {
    font-size: 90%;
  }
}

body {
  @include font(1rem);
  color: $color-black;
}

a {
  color: $color-blue;
  text-decoration: underline;

  &:hover {
    color: darken($color-blue, 10%);
  }

  &:active {
    outline: 3px solid rgba($color-blue, 0.2);
  }
}

// demo styles



// layouts

.hidden {
  display: none;
}

.title {
  font-size: 2.5rem !important;
  font-weight: 100 !important;
}

