@import '../../spuit';

@import 'styles/config/variables';
@import 'styles/config/mixins';

@include include-animations

// basic styles

html {
  font-size: 100%;
  @include breakpoint-down(md) {
    font-size: 80%;
  }
}

body {
  @include font(1rem);
  color: $color-black;
}

// demo styles

.demo-styles {
  color: $color-black;

  h1 {
    @include font(2.8rem);
    font-weight: 300;
  }
  h2 {
    @include font(2.0rem);
    font-weight: 300;
  }
  h3 {
    @include font(1.6rem);
  }
  h4 {
    @include font(1.5rem);
  }
  h5 {
    @include font(1.3rem);
  }
  h6 {
    @include font(1.2rem);
  }
  p {
    @include font(1rem);
  }
  form {
    @include font(1rem);
  }
  input[type=text] {
    @include input;
  }
  textarea {
    @include input;
    height: 120px;
  }
  legend {
    @include font(inherit);
  }
  .radio {
    @include radio-base;
  }
  .radio-inside {
    @include radio-base(span);
  }
  .checkbox {
    @include checkbox-base;
  }
  .checkbox-inside {
    @include checkbox-base(span);
  }

  .table {
    @include table;
    margin-bottom: 10px;

    &-line{
      @include table-line;
      margin-bottom: 10px;
    }
    &-stripe{
      @include table-stripe;
      margin-bottom: 10px;
    }
  }
  .fieldset {
    @include fieldset-flex;
  }
  .button {
    @include button;
  }
  .button-semiflat {
    @include font;
    @include button-semiflat;
  }
  .button-border {
    @include font;
    @include button-border;
  }
  .button-emboss {
    @include font;
    @include button-emboss;
  }

  .reset-ul {
    @include reset-ul;
  }
  .word-break {
    @include word-break;
    display: inline-block;
    width: 100px;
    background: #f8f8f8;
    padding: 10px;
  }
  .word-break-none {
    @include word-break(false);
    display: inline-block;
    width: 100px;
    background: #f8f8f8;
    padding: 10px;
  }
  .text-overflow {
    @include text-overflow();
    display: inline-block;
    width: 100px;
    background: #f8f8f8;
    padding: 10px;
  }
}
