@mixin reset-button($c: transparent) {
  box-sizing: border-box;
  box-shadow: none;
  appearance: none;
  display: inline-block;
  border-radius: 0;
  background-color: $c;
  background-image: linear-gradient(to top, $c, $c);
  position: relative;
  cursor: pointer;
  text-align: center;
  font-weight: normal;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  &:link,
  &:visited,
  &:hover,
  &:active,
  &:active {
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
  &:disabled {
    cursor: default;
    pointer-events: none;
  }
}

@mixin reset-form() {
  margin: 0;
  padding: 0;
  border-radius: 0;
  background-image: none;
  background: transparent;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  text-decoration: none;
  &:focus {
    border: none;
    outline: none;
  }
}

@mixin reset-ul() {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  > li {
    display: inline-block;
  }
}

@mixin reset-img() {
  margin: 0;
  padding: 0;
  line-height: 0;
  vertical-align: baseline;
  border: none;
}

@mixin reset-heading() {
  margin: 0;
  padding: 0;
  display: inline-block;
  border: none;
}

@mixin reset-button() {
  margin: 0;
  padding: 0;
  line-height: 1;
  vertical-align: baseline;
  border: none;
  background-color: transparent;
  cursor: pointer;
  &:focus,
  &:active {
    border: none;
    outline: none;
  }
}
