@mixin reset-form($c: transparent) {
  margin: 0;
  padding: 0;
  border-radius: 0;
  background-image: linear-gradient(transparent, transparent);
  background: transparent;
  appearance: none;
  border: none;
  outline: none;
  text-decoration: none;
  &:focus {
    border: none;
    outline: none;
  }
}

@mixin reset-ul() {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  > li {
    display: inline-block;
  }
}

@mixin reset-img() {
  margin: 0;
  padding: 0;
  line-height: 0;
  vertical-align: baseline;
  border: none;
}

@mixin reset-heading() {
  margin: 0;
  padding: 0;
  display: inline-block;
  border: none;
}

@mixin reset-button() {
  margin: 0;
  padding: 0;
  line-height: 1;
  vertical-align: baseline;
  border: none;
  background-color: transparent;
  cursor: pointer;
  &:focus,
  &:active {
    border: none;
    outline: none;
  }
}
