=fieldset-base($legend-width: 100px, $gutter: 20px)
  +clearfix
  position: relative
  padding-left: $legend-width + $gutter
  padding-bottom: 0.5rem
  +breakpoint-down(sm)
    padding-left: 0
    padding-bottom: 1rem

  > legend
    width: $legend-width
    margin-left: -($legend-width + $gutter)
    display: inline-block
    vertical-align: middle
    float: left

    +breakpoint-down(sm)
      display: block
      float: none
      width: auto
      margin-left: 0

  &.has-padding
    > legend
      padding-top: 0.5rem
      +breakpoint-down(sm)
        padding-top: 0

//not <fieldset/>
=fieldset-flex($legend-width: 30%, $gutter: 20px)
  display: flex
  justify-content: space-between
  align-items: center
  min-width: 0
  padding: 0
  margin: 0 0 10px
  border: 0
  &:last-child
    margin-bottom: 0
  label, legend
    margin-bottom: 0
  > legend
    width: $legend-width
    padding-right: $gutter
  > *:not(legend)
    flex: 1
