=input-base($w: auto)
  +reset-form
  $border: 1px solid #ddd
  $color-key: rgba(#529ef6, 0.2)
  $color-bg-select: #fffff2

  // font-size: inherit
  display: inline-block
  width: $w
  padding: 0.5rem
  border: $border
  background: #fff

  &::placeholder
    // font-size: inherit
    color: #ddd

  &:focus
    border: 1px solid $color-key
    outline: 0
    background: $color-bg-select
